.app{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header,.footer{
  background-color: #333;
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: x-large;
}

.container{
  padding: 2rem;
  width: 100%;
}

.todo_list{
  width: 35%;
  margin: 4rem auto;
}
#form_box {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.9);
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.3);
}

#new_item_form {
  padding: 40px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#form_head {
  margin-top: 0px;
  font-size: xxx-large;
  margin-bottom: 40px;
  color: #330033;
}

.form_elements {
  display: flex;
  flex-direction: column;
}

.ip_design {
  width: 80%;
  margin: 20px auto;
  height: 45px;
  border: 0px;
  border-radius: 5px;
  background-color: lightgray;
  border: 2px solid #330033;
}

#next {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  width: 70%;
  margin: 40px auto 20px;
  height: 55px;
  border: 0px;
  border-radius: 8px;
  background-color: #330033;
  color: white;
  font-size: x-large;
  font-weight: 700;
  padding: 10px 0px;
}

.btn:hover {
  cursor: pointer;
  background-color: limegreen;
  padding: 15px;
  box-shadow: 2px 2px 14px rgba(51, 0, 0, 0.3);
}

.todo_item {
  width: 80%;
  padding: 40px;
  background-color: rgba(240, 248, 255, 0.9);
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  color: #330033;
}
.task_title {
  font-size: x-large;
  font-weight: 600;
}

.task_description {
  font-size: large;
}

.task_deadline {
  font-size: small;
}

i {
  font-size: x-large;
}

.icon {
  margin-right: 15px;
  font-size: x-large;
}

.item_layout {
  margin-left: 30px;
  margin-bottom: 20px;
}
.anchor_button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.option_button {
  background-color: transparent;
  border: 0px;
  font-size: larger;
}

.del_btn {
  color: red;
}

.edit_btn {
  color: darkgreen;
}

.done_btn {
  color: #551A8B;
}

.del_btn:hover,
.edit_btn:hover,
.done_btn:hover {
  font-size: x-large;
}